<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Detail Pegawai</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br><br>
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h2 th:text="'Data Pegawai Termuda '"></h2>
			<table class="table table-striped table-bordered">
				<tbody>
					<tr>
						<td th:text="'NIP'"></td>
						<td th:text="${termuda.nip}"></td>
					</tr>
					<tr>
						<td th:text="'Nama'"></td>
						<td th:text="${termuda.nama}"></td>
					</tr>
					<tr>
						<td th:text="'Tempat Lahir'"></td>
						<td th:text="${termuda.tempatLahir}"></td>
					</tr>
					<tr>
						<td th:text="'Tanggal Lahir'"></td>
						<td th:text="${termuda.tanggalLahir}"></td>
					</tr>
					<tr>
						<td th:text="'Tahun Masuk'"></td>
						<td th:text="${termuda.tahunMasuk}"></td>
					</tr>
					<tr>
						<td th:text="'Nama Instansi'"></td>
						<td th:text="${termuda.instansi.nama}"></td>
					</tr>
<!-- 					<tr> -->
<!-- 					 	<td th:text="'Jabatan'"></td> -->
<!-- 			        	<td> -->
<!-- 			            <ul> -->
<!-- 			               <li th:each="jabatanTermuda : ${jabatanTemuda}"> -->
<!-- 			                    <span th:text="${jabatanTermuda.jabatan.nama}"></span> -->
<!-- 			                </li> -->
<!-- 			            </ul> -->
<!-- 			        	</td> -->
<!-- 			        </tr> -->
				</tbody>
			
			</table>
		</div>
		<br>
		<div class="col-md-6">
		<h2 th:text="'Data Pegawai Tertua '"></h2>
			<table class="table table-striped table-bordered">
				<tbody>
					<tr>
						<td th:text="'NIP'"></td>
						<td th:text="${tertua.nip}"></td>
					</tr>
					<tr>
						<td th:text="'Nama'"></td>
						<td th:text="${tertua.nama}"></td>
					</tr>
					<tr>
						<td th:text="'Tempat Lahir'"></td>
						<td th:text="${tertua.tempatLahir}"></td>
					</tr>
					<tr>
						<td th:text="'Tanggal Lahir'"></td>
						<td th:text="${tertua.tanggalLahir}"></td>
					</tr>
					<tr>
						<td th:text="'Tahun Masuk'"></td>
						<td th:text="${tertua.tahunMasuk}"></td>
					</tr>
					<tr>
						<td th:text="'Nama Instansi'"></td>
						<td th:text="${tertua.instansi.nama}"></td>
					</tr>
					
				</tbody>
			
			</table>
		</div>
	</div>
	</div>
</body>

</html>